html
  head
    title= title
    style
      include ../public/styles/job.css
    include ../public/Menu_Button.html
    script(src="/scripts/job.js")
  body
    .container
      include ../public/Menu_list.html
      .selected_job
        .selected_job_title
          h2= job.title
          span.glyphicon.glyphicon-heart-empty

        .job_location
          div #{job.location}


        .job_description
          h3 Pay:
          .pay
            span.pay #{job.pay}
            span per hour

          h3 Job Description:
          div !{job.description.replace(/\n/g, '<br/>')}


        .job_candidate
          h3 Candidate
          span #{job.qualification}

        .video
          .icon
            a
              ="Video Description"
              img(src="/youtube.png")

        .apply
          button.btn.btn-lg.btn-primary Apply
